.ant-menu-item-selected{
  background-color: unset!important;
}
.ant-menu-item-selected a {
  color: #2775f6!important;
}
.ant-menu-horizontal>.ant-menu-item:hover{
  background-color: unset!important;
}