name: Perf

on:
  push:
    branches: [ main ]
  schedule:
    - cron: '25 0 * * *'
  pull_request:
    branches: [ main ]

jobs:
  perf:
    name: Databend Release Perf
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Get Databend version
        id: databend_version
        run: |
          LASTEST_TAG=$(curl -s GET https://api.github.com/repos/datafuselabs/databend/tags\?per_page\=1 | jq -r '.[].name')
          echo ::set-output name=VERSION::${LASTEST_TAG}
      - name: Get Date
        id: perf_date
        run: |
          THE_DATE=$(date +"%Y-%m-%d")
          echo ::set-output name=DATE::${THE_DATE}

      - name: Get perf-tools from repo
        run: |
          curl -fsSLo script/perf-tool https://repo.databend.rs/tools/perf-tool/amd64/perf-tool

      - name: Run Perf
        env:
          WEB_API_USER_EMAIL: ${{ secrets.WEB_API_USER_EMAIL }}
          WEB_API_USER_PASSWORD: ${{ secrets.WEB_API_USER_PASSWORD }}
          WAREHOUSE_TAG: ${{ steps.databend_version.outputs.VERSION }}
          WAREHOUSE_SIZE: ${{ secrets.WAREHOUSE_SIZE }}
        run: |
          chmod +x ./script/perf-tool
          ./script/perf-tool --output-format json --test-dir benchmarks -target-dir collector
          mv collector/numbers.json collector/numbers/${{ steps.perf_date.outputs.DATE }}-numbers.json
          mv collector/ontime.json collector/ontime/${{ steps.perf_date.outputs.DATE }}-ontime.json
      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: 'perf: collect performance data from the latest release'
      - name: Setup Go Env
        uses: actions/setup-go@v3
        with:
          go-version: '>=1.17.0'
      - name: Print Go Version
        run: go version
      - name: Do Transform
        run: go run script/transform.go

      - name: Upload Result
        uses: peaceiris/actions-gh-pages@v3
        if: github.ref == 'refs/heads/main'
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          force_orphan: true
          publish_branch: gh-pages
          publish_dir: temp
          destination_dir: json
          keep_files: false
          commit_message: 'Update Transform Data'

      - name: Nofify Email
        uses: dawidd6/action-send-mail@v3
        if: ${{ failure() }}
        with:
          server_address: smtp.feishu.cn
          server_port: 465
          username: ${{secrets.MAIL_USERNAME}}
          password: ${{secrets.MAIL_PASSWORD}}
          subject: Databend Perf Github Actions Run Failed
          to: cloud.dev@datafuselabs.com
          from: databend-perf
          secure: true
          body: Build job of ${{github.repository}} run failed

      - name: Notify Feishu Group
        uses: foxundermoon/feishu-action@v2
        if: ${{ always() }}
        with:
          url: ${{ secrets.FEISHU_BOT_WEBHOOK_URL }}
          msg_type: post
          content: |
            post:
              zh_cn:
                title: Build job of ${{ github.repository }} run ${{ job.status }}
                content:
                - [{"tag": "a", "text": "link", "href": "${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}"}]
