name: Reload

on:
  pull_request:
    branches:
      - main
    paths:
      - "reload/**"
      - ".github/workflows/reload.yaml"
  push:
    branches:
      - main
    paths:
      - "reload/**"
      - ".github/workflows/reload.yaml"
  schedule:
    # Runs at 08:25 UTC on Fri. 
    - cron: '25 8 * * 5'

jobs:
  perf:
    name: Databend Release Perf
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Get Databend version
        id: databend_version
        run: |
          LASTEST_TAG=$(curl -s GET https://api.github.com/repos/datafuselabs/databend/tags\?per_page\=1 | jq -r '.[].name')
          echo ::set-output name=VERSION::${LASTEST_TAG}
      - name: Get Date
        id: perf_date
        run: |
          THE_DATE=$(date +"%Y-%m-%d")
          echo ::set-output name=DATE::${THE_DATE}

      - name: Get perf-tools from repo
        run: |
          curl -fsSLo script/perf-tool https://repo.databend.rs/tools/perf-tool/amd64/perf-tool

      - name: Run Perf
        env:
          WEB_API_USER_EMAIL: ${{ secrets.WEB_API_USER_EMAIL }}
          WEB_API_USER_PASSWORD: ${{ secrets.WEB_API_USER_PASSWORD }}
          WAREHOUSE_TAG: ${{ steps.databend_version.outputs.VERSION }}
          WAREHOUSE_SIZE: ${{ secrets.WAREHOUSE_SIZE }}
        run: |
          sed -i "s/AWS_KEY_ID/${{ secrets.REPO_ACCESS_KEY_ID }}/g"  ./reload/ontime.yaml
          sed -i "s/AWS_SECRET_KEY/${{ secrets.REPO_SECRET_ACCESS_KEY }}/g"  ./reload/ontime.yaml
          chmod +x ./script/perf-tool
          ./script/perf-tool --output-format json --test-dir reload -target-dir collector/ontime-reload -test-time 1 -warm-time 0
          mv collector/ontime-reload/reload_ontime.json collector/ontime-reload/${{ steps.perf_date.outputs.DATE }}-reload-ontime.json
          sed -i "s/${{ secrets.REPO_ACCESS_KEY_ID }}/AWS_KEY_ID/g" ./reload/ontime.yaml
          sed -i "s/${{ secrets.REPO_SECRET_ACCESS_KEY }}/AWS_SECRET_KEY/g" ./reload/ontime.yaml
          sed -i "s/${{ secrets.REPO_ACCESS_KEY_ID }}/AWS_KEY_ID/g" ./collector/ontime-reload/${{ steps.perf_date.outputs.DATE }}-reload-ontime.json
          sed -i "s/${{ secrets.REPO_SECRET_ACCESS_KEY }}/AWS_SECRET_KEY/g" ./collector/ontime-reload/${{ steps.perf_date.outputs.DATE }}-reload-ontime.json

      - name: Pull Remote Changes
        run: git pull

      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: 'reload: try reload datasets to perf warehouse'

      - name: Nofify Email
        uses: dawidd6/action-send-mail@v3
        if: ${{ failure() }}
        with:
          server_address: smtp.feishu.cn
          server_port: 465
          username: ${{secrets.MAIL_USERNAME}}
          password: ${{secrets.MAIL_PASSWORD}}
          subject: Databend Perf Github Actions Reload Failed
          to: cloud.dev@datafuselabs.com
          from: databend-perf
          secure: true
          body: Reload job of ${{github.repository}} run failed

      - name: Notify Feishu Group
        uses: foxundermoon/feishu-action@v2
        if: ${{ always() }}
        with:
          url: ${{ secrets.FEISHU_BOT_WEBHOOK_URL }}
          msg_type: post
          content: |
            post:
              zh_cn:
                title: Reload job of ${{ github.repository }} run ${{ job.status }}
                content:
                - [{"tag": "a", "text": "link", "href": "${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}"}]
